# Change UNIQUE_NAME once; it is substituted into ENVIRONMENT, DEPLOYMENT_ENVIRONMENT, and OTEL_RESOURCE_ATTRIBUTES.

########################################################
## MAIN CONFIG PARAMS
########################################################
UNIQUE_NAME=project_tempproject     # The unique name of this project (ensure there is a corresponding .env.UNIQUE_NAME file)
                                    #   can then start the oTel demo with: make start environment=UNIQUE_NAME
UNIQUE_PORT_OFFSET=0                # Offset for ports (e.g. 8080, 10000, 9090) of this project's components from 8080, 10000, 9090
ELASTICSEARCH_ENDPOINT=""
ELASTICSEARCH_API_KEY=""
########################################################
########################################################

ENVIRONMENT=${UNIQUE_NAME}
DEPLOYMENT_ENVIRONMENT=${UNIQUE_NAME}
ENVOY_PORT=808${UNIQUE_PORT_OFFSET}
ENVOY_ADMIN_PORT=1000${UNIQUE_PORT_OFFSET}
PROMETHEUS_PORT=909${UNIQUE_PORT_OFFSET}
OTEL_RESOURCE_ATTRIBUTES=service.namespace=opentelemetry-demo,service.version=${IMAGE_VERSION},deployment.environment=${UNIQUE_NAME}
